# generated types
.astro/

# environment variables
.env
.env.local
.env.production

# macOS
.DS_Store

### node
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

### misc
.vscode
*.log
.DS_Store
desktop.ini
.megaignore
/assets
*.acsm
profile

## obsidian
/Rubbish
/.obsidian
publish.css

## filen
/.trash
.filenignore

## content
/src/content/vault
/src/content/docs/md
/src/content/mulch
/src/content/seeds
/src/content/vignettes
/src/content/works
/src/content/assets
/src/assets
/src/data/bookmarks

## for now
/backend
.venv
/public