@import '@astrojs/starlight-tailwind';

@theme {
    /* Generated accent color palettes. */
    --color-accent-200: #e5c484;
    --color-accent-600: #6a4d00;
    --color-accent-900: #422e00;
    --color-accent-950: #302100;
    /* Generated gray color palettes. */
    --color-gray-100: #f9f5f3;
    --color-gray-200: #f3ece8;
    --color-gray-300: #c8c0bb;
    --color-gray-400: #97887e;
    --color-gray-500: #63554b;
    --color-gray-700: #42352c;
    --color-gray-800: #30241b;
    --color-gray-900: #1d1713;

}