---
import Frontmatter from "@/components/Frontmatter.astro";
import Layout from "../../components/Layout.astro";
import { ScrollArea } from "../../components/ui/scroll-area"
import { Separator } from "../../components/ui/separator"

import type { CollectionEntry } from 'astro:content';
import { getCollection, render} from "astro:content";

interface Props {
	page: CollectionEntry<'earth'>;
}

export async function getStaticPaths() {
  const pages = await getCollection('earth');
  return pages.map(page => (
 {
    params: { id: page.id },
    props: { page }
  }
));
}

const { page } = Astro.props;
const { Content } = await render(page);
export const prerender = true;
---

<Layout pageTitle={page.data.title} pageStyle='docs' starlightSettings={{next: false, prev: false}}>
   
   <Frontmatter data={page.data} />
    <div>
      <Content />
    </div>

</Layout>