---

interface Props {
	slug?: string;
	class?: string;
	entry?: Record<string, any>;
}

let { slug, class: className } = Astro.props;
let { entry } = Astro.locals.starlightRoute;
let children = entry.data?.child;

---

{children && children.length > 0 &&
	<div class:list={className ?? ""}>
		<slot name="title"/>
        {children.map((link: string) => (
                <ul class="backlink" style="--depth: 0;">
                    <li style="--depth: 0;">
                        <a href={"/" + link } style="--depth: 0;" target="_self">
                            <span style="--depth: 0;">{link}</span>
                        </a>
                    </li>
                </ul>
        ))}
	</div>
}