---
import LastUpdated from '@astrojs/starlight/components/LastUpdated.astro';
import Pagination from '@astrojs/starlight/components/Pagination.astro';
const { msg } = Astro.props;

---

<footer class="sl-flex">
	<div class="meta sl-flex">
		<LastUpdated />
		<div style="border: 1px solid red; padding:5px">
		<p>NOT YET STABLE</p>
		<p>still very much under structural development</p>
		<p>please excuse broken things</p>
		<p>there may be sensitive topics decontextualised</p>
		<p>or caveats not yet visible</p>
		</div>
		<small>this is a web space I carved out for myself, and <a href='/about/build-this'>you should build one too</a>
	</small>
	</div>
	<Pagination />
</footer>

<style>
	footer {
		flex-direction: column;
		gap: 1.5rem;
	}
	.meta {
		gap: 0.75rem 3rem;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 3rem;
		font-size: var(--sl-text-sm);
		color: var(--sl-color-gray-3);
	}
	.meta > :global(p:only-child) {
		margin-inline-start: auto;
	}

</style>