---
import { ScrollArea } from './ui/scroll-area';
import { LinkCard } from '@astrojs/starlight/components';
import type { StarlightIcon } from 'node_modules/@astrojs/starlight/components/Icons';
import PreviewCardMenu from './PreviewCardMenu.astro';


interface Props {
	icon?: StarlightIcon;
	title: string;
    overflow?: string;
	link?: string;
}

const { title, overflow, link} = Astro.props;
---

<article class="card sl-flex rounded-md p-5 text-[14px]">
	<p class="title sl-flex text-2xl">
		<a href={link??'/'} class="no-underline"><span set:html={title} /></a>
		<PreviewCardMenu link={link??'/'}></PreviewCardMenu>
	</p>
    { overflow && overflow === "scroll" ?
        <ScrollArea className="body pagePreview p-0.5 max-h-50 w-auto">
        <slot />
        </ScrollArea>
	:
		<div class="body"><slot /></div>
	}
	{ link && <LinkCard title="see more" href={link??'/'}></LinkCard>}
</article>

<style>
	@layer starlight.components {
		.card {
			border: 1px solid var(--sl-color-gray-5);
			background-color: var(--sl-color-black);
			flex-direction: column;
			padding: clamp(1rem, calc(0.125rem + 2vw), 2.5rem);
			gap: clamp(0.5rem, calc(0.125rem + 1vw), 1rem);
		}
		.title {
			font-weight: 600;
			color: var(--sl-color-white);
			line-height: var(--sl-line-height-headings);
			gap: 1rem;
			align-items: center;
		}
		.card .icon {
			border: 1px solid var(--sl-card-border);
			background-color: var(--sl-card-bg);
			padding: 0.2em;
			border-radius: 0.25rem;
			flex-shrink: 0;
		}
		.card .body {
			margin: 0;
			font-size: clamp(var(--sl-text-sm), calc(0.5rem + 1vw), var(--sl-text-body));
		}
	}
</style>