---
import MobileMenuFooter from '@astrojs/starlight/components/MobileMenuFooter.astro';
import SidebarPersister from '@astrojs/starlight/components/SidebarPersister.astro';
import SidebarSublist from '@astrojs/starlight/components/SidebarSublist.astro';
import LeftSideFooter from './LeftSideFooter.astro';
import type { StarlightRouteData } from '@astrojs/starlight/route-data';

const { sidebar } : StarlightRouteData = Astro.locals.starlightRoute;
//const parentLinks = Astro.params;
//console.log(parentLinks);

---
<div class="max-w-md">

<SidebarPersister>
	<SidebarSublist sublist={sidebar} />
</SidebarPersister>

<LeftSideFooter />


<div class="md:sl-hidden">
	<MobileMenuFooter />
</div>


</div>